@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght,ROND@6..144,1..1000,100&display=swap");

@import url("https://fonts.cdnfonts.com/css/prilly-monly");

@import "tailwindcss";

@theme {
  --font-custom: "Google Sans Flex", sans-serif;
  --font-custom-2: "Prilly Monly", sans-serif;
  --color-brand: oklch(64.6% 0.222 41.116);
  --color-black-1: oklch(22.5% 0 0);
  --color-black-2: oklch(26% 0 0);
  --color-white-1: oklch(95% 0 0);
  --color-white-2: oklch(70% 0 0);
  --color-border-color: oklch(100% 0 0 / 0.067);
}
